* {
    font-family: 'Nanum Gothic';
    margin: 0;
    padding: 0;
  }
   #back{
    font-family: 'Lato';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1518px;
    margin: 0; 
    padding: 0; 
    }
    #loginDiv{
        height: 450px;
        width: 500px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        margin-left: 80px;
        border-radius: 29px;
        padding-top:30px;

     }
     #loginOut{
        height: 500px;
        width: 1060px;
     }
    body{
        margin: 0;
        padding: 0;
        background-color: rgba(247, 233, 213, 0.892);      
    }
    .content{
        display: flex;
        gap: 0; 
    }
    .content div{
        flex: 1;
        margin: 0;
        padding: 0;
    }
label{
        font-family: 'Lato';
        font-weight: bold;
        color: rgb(247, 115, 0);           
        padding-top:40px;
        margin-left: 20px;

}
input{
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    border-style: none;
    width: 400px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}
::placeholder{
    font-family: 'Lato';
}

#divBowl{
    width: 1048px;
    flex: 1;   
}
#imgBowl{
    width:759px;
    height: 725px;
    margin: 0;
    padding: 0;
}
button {

text-decoration: none;
border: none;
background-color: rgb(247, 115, 0);      
border-radius: 15px;
margin-top: 50px;
font-family: 'Lato';
color:white;     
font-weight: bold;
margin-bottom: 10px;
width: 100px;
height: 50px;
margin-left: 200px;

}
button a{
    color:white;     

}
button:hover{
    transform: scale(1.1);
}
#loginDiv p{
    text-align: center;
    margin-top: 20px;
   color: rgb(0, 0, 0);
   font-family: 'Lato';
   margin-bottom: 10px;
}
#loginDiv a{
    text-align: center;
    margin-top: 40px;
    color: rgb(0, 0, 0);    
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-family: 'Lato';
}

#loginDiv a:hover{
  
    color: rgb(255, 255, 255);    
   
}
 #imgLogo{
    width: 100px;
    height: 50px;
    margin-left: 200px;
    margin-bottom: 30px;
 }