* {
  font-family: 'Nanum Gothic';
  margin: 0;
  padding: 0;
}
menu{
  margin: 0;
  padding: 0;
  box-shadow: 3px 3px 5px rgb(146, 144, 144);
  display: flex; 
  /*background-color: #bdb1aa;*/
  width: 1518px;
  z-index: 3; 
}
ul{
  list-style: none;
  display: flex;
  z-index: 2; 
}
ul li{
  display: inline-block;
  padding-left: 70px; 
  z-index: 2; 
}
ul li a{
  display: inline-block;
  margin-top: 45px;
  color: rgb(255, 123, 7); 
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
}
ul li a:hover {
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgb(164, 160, 160);
  background-color: rgb(255, 123, 7); 
  border-radius: 40px;
  height: 35px;
}

ul li ul.dropdown li{
  display: block;
}

ul li ul.dropdown {
margin: 0;
z-index: 3;
display: none;
}

ul li:hover ul.dropdown {
  display: block;
  z-index: 2; 

}
.liOne{
  padding-top: 20px;
  padding-right: 10px;
}
.sign{
  font-size: 10px;
}
.signImg{
  margin-top: 60px;
  width:40px;
  height: 40px;
  margin-left: 200px;
  padding-top: 10px;
}
.sign a{
  display: inline-block;
  margin-top: 62px;
  margin-left: 15px;
  color: rgb(255, 252, 250); 
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  background-color: rgb(255, 123, 7); 
  box-shadow: 5px 5px 5px rgb(253, 186, 126); 
  font-family: 'Lato', sans-serif;
  
}
.sign a:hover{
  background-color:rgb(253, 186, 126); 
  box-shadow: 5px 5px 5px  rgb(255, 123, 7); 
}
.top {
  width: 260px;
  height: 200px;
  margin: 0;
}
h1 {
  font-family: 'Lato', sans-serif;
}
.img {
  box-shadow: 0 1px 2px #0003;
}
.container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 10px;
}
.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2048px;
  margin: 0;
  padding-top: 190px;
  z-index: -1;
  box-shadow: 5px 5px 5px rgb(158, 62, 62);
}
.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}
.on {
  opacity: 1;
  box-shadow: 5px 5px 10px rgb(174, 161, 161);

}
#prev-button, #next-button {
  position: absolute;
  top: 45%;  
  transform: translateY(-50%); 
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1; /* coloca as flechas sobre as imagens */
  margin-top: 80px;
}
#prev-button img, #next-button img {
  width: 100%;
  height: 100%; 
}
#prev-button {
  transform: rotate(180deg);
  left: 0; 
}
#next-button {
  right: 0; 
}
h1{
font-size: 40px;
padding-left: 450px;
padding-bottom: 70px;
width: 700px;
padding-top: 300px;
}
#h1Two{
  font-size: 40px;
  padding-left: 530px;
  width: 700px;
  padding-top: 60px;
}
#h1Four{
  font-size: 40px;
  padding-left: 150px;
  width: 700px;
  padding-top: 60px;
  margin-top: 20px;
}
.contentCard{
  background-color: #bdb1aa;
  width: 200px;
  height: 200px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 40px;
  box-shadow: 3px 3px 5px rgb(146, 144, 144);
}
.card{
  width: 200px;
  height: 200px;
  padding-left: 85px;
  padding-top: 50px;
  transform-style: preserve-3d; 
	transition: transform 0.8s;
  perspective: 1000px;
  display: inline-block;
}
.imgCard{
  width: 150px;
  height: 150px;
}
.card:hover .contentCard {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
   backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front {
  color: black;
  background-color: rgb(247, 148, 62); 
  border-radius: 40px;

}
.card-back {
  background-color: rgb(247, 148, 62); 
  color: white;
  border-radius: 40px;
  transform: rotateY(180deg);
}
.card-back p{
text-align: center;
}
#img4{
  margin-left: 300px;
}
footer{
  background-color: rgb(247, 148, 62); 
  width: 1518px;
  height: 250px;
}
.backPlans{
  background-color: rgb(253, 186, 126); 
  width: 1518px;
  height: 900px;
  margin-top: 200px;
}
.tabela-preco
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: min(1600px, 100%);
 margin-bottom: 200px;  
}
.card-preco
{
	flex:1;
	max-width: 400px;
	background-color: #fff;
	margin: 20px 10px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color: #2d2d2d;
	transition: .3s linear;
  height: 350px;
}

.card-preco:hover .card-preco-header
{
	box-shadow: 0 0 0 26em rgb(247, 148, 62); 

}


.card-preco-header
{
  background-color:  rgb(247, 148, 62); 
	display: inline-block;
	color: #fff;
	padding: 12px 30px;
	border-radius: 0 0 20px 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	transition: .4s line;
}

.preco
{
	font-size: 70px;
  color:  rgb(247, 148, 62); 

	margin-left: 40px 0;
  margin-right: 40px 0;
	margin-top: 40px;
  margin-bottom: 20px;


	transition: .2s linear;
}
.preco sup, .preco span
{
	font-size: 22px;
	font-weight: 700;
}
p{
  color: rgb(247, 148, 62); 
  padding-bottom: 10px;
  font-weight: bold;

}
.card-preco:hover, .card-preco:hover .preco
{
	color: #fff;
}

.card-preco:hover, .card-preco:hover p
{
	color: #fff;
}
footer p{
	color: #fff;
padding-top: 220px;
padding-left: 620px;
}
.card-back p{
  color: #fff;
  margin: 10px;
}
.contentAbout{
display: inline-block;
width:700px;
padding-bottom:30px;
margin-left: 100px;
}
#pOne{
  padding-top: 10px;
  width: 700px;
  font-size: 20px;
  text-align: justify;
  color: rgb(0, 0, 0); 

}

#pThree{
  padding-top: 10px;
  width: 700px;
  font-size: 20px;
  text-align: justify;
  color: rgb(0, 0, 0); 

}

#h1Three{
  font-size: 40px;
  width: 920px;
  padding-top: 60px;

}
.imgQuestion{
  width: 150px;
  height: 150px;
}

.banner{
  width: 1518px;
  height: 400px;
  box-shadow: 3px 3px 5px rgb(146, 144, 144);

}
.imgPhotoAbout{
  width: 500px;
  height: 500px;
padding-top: 60px;
margin-top: 100px;

}
.contentDivAbout{
  display: flex;
  justify-content: space-between;
}

.contentAbout {
  flex-basis: 60%; 
}

.divPhoto {
  flex-basis: 30%;
  margin-right: 80px;
}

.contentDivAboutTwo {
  display: flex;
  margin-top: 100px;
  padding-bottom: 100px;

}

.divPhotoTwo {
  flex-basis: 50%;
}

.contentAboutTwo {
  flex-basis: 50%;
  padding-left: 20px; 
}

.imgPhotoAboutTwo {
  width: 600px;
  height: 600px;
  margin-left: 20px;
  margin-top: 180px;
}
.contentCardDois{
  background-color: #bdb1aa;
  width: 350px;
  height: 200px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 40px;
  box-shadow: 3px 3px 5px rgb(146, 144, 144);
}
.cardDois{
  width: 350px;
  height: 200px;
  padding-left: 85px;
  padding-top: 50px;
  transform-style: preserve-3d; 
	transition: transform 0.8s;
  perspective: 1000px;
  display: inline-block;
  margin-left: 200px;
  margin-bottom: 300px;
}
.cardDois:hover .contentCardDois {
  transform: rotateY(180deg);
}
.cardDois-front, .cardDois-back {
  position: absolute;
  width: 100%;
  height: 100%;
   backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardDois-front {
  color: black;
  background-color: rgb(247, 148, 62); 
  border-radius: 40px;

}
.cardDois-back {
  background-color: rgb(247, 148, 62); 
  color: white;
  border-radius: 40px;
  transform: rotateY(180deg);
}
.cardDois-back p{
text-align: center;
}
.comeback{
  color: white;

}
.frontp{
  color: white;
margin-top: 100px;
margin-right: 80px;
font-size: 40px;
}


.lista-usuarios {
  width: 80%;
  margin: 40px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #ff914d;
  text-shadow: rgba(254, 17, 17, 0.8) 1px 0.5px 2px;
  text-align: center;
}

.lista-usuarios table {
  width: 100%;
  border-collapse: collapse;
}

.lista-usuarios td {
  border: 1px solid #ffb07b;
  padding: 10px;
  text-align: left;
}

.lista-usuarios td label {
  display: block;
  margin-bottom: 10px;
}

.lista-usuarios td input[type="text"], .lista-usuarios td input[type="number"] {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.lista-usuarios td button {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color:rgb(255, 123, 7); 
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.lista-usuarios td button:hover {
  background-color:rgb(255, 123, 7); 
}

.appointments {
  display: flex;
  gap: 20px;
}

.appointment-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  width: 300px;
  margin-top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 50px;
margin-bottom: 50px;
}


.appointment-card p{
  color:rgb(100, 100, 100);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.appointment-card h3{
  color:rgb(255, 126, 56);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.details-button {
  background-color: #716f6f;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color:rgb(255, 123, 7); 
}

.diet-container {
  width: 1300px;
  margin: 20px;
  padding: 20px;
  margin-left: 80px;
  background-color: white;
  border-radius: 5px;
}
.h1Diet {
  text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000000; /* Laranja mais claro e vibrante */
    text-shadow: rgba(0, 0, 0, 0.5) 2px 1px 3px; /* Sombra mais suave e profunda */
    text-align: center;
    padding: 20px 40px; /* Espaçamento maior para dar mais destaque */
    border-radius: 10px; /* Bordas arredondadas para suavizar o visual */
    margin: 40px auto; /* Centraliza o título horizontalmente */
    max-width: 90%; /* Limita a largura máxima do título */
  
}
.diet-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
}
.diet-title {
  margin-top: 0;
}
.meal-list {
  margin-top: 20px;
}
.meal-card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.meal-card h3 {
  margin-top: 0;
}
.meal-card p {
  margin: 5px 0;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.button {
  background-color: #09b300;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #09b300;
}
.button-delete {
  background-color: #dc3545;
}
.button-delete:hover {
  background-color: #c82333;
}